

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #F6FAFF;
}


.ant-picker-input {
  display: none !important;
}


/* Скрыть стандартный инпут внутри DatePicker */
.ant-picker-input {
  display: none !important;
}

/* Убрать обводку и фон у выпадающего календаря */
.ant-picker-dropdown {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

/* Убрать любые внутренние рамки внутри панели */
.ant-picker-panel-container,
.ant-picker-panel {
  border: none !important;
  box-shadow: none !important;
}
